# General ALT3 Strategy - из general (ALT3).bat
# Использует hostfakesplit с подменой хоста на ya.ru
id: "zapret_general_alt3"
name: "General ALT3 (hostfakesplit)"
description: "Стратегия с fake+hostfakesplit и подменой SNI на ya.ru. Эффективна против продвинутого DPI."
family: sni_frag
engine: zapret
label: alternative

mode_capabilities:
  supports_socks: false
  supports_global: true

global_template:
  binary: "binaries/winws.exe"
  args:
    # WinDivert фильтры
    - "--wf-tcp=80,443,2053,2083,2087,2096,8443"
    - "--wf-udp=443,19294-19344,50000-50100"
    # QUIC fake для общего списка
    - "--filter-udp=443"
    - "--hostlist=hostlists/general.txt"
    - "--hostlist-exclude=hostlists/exclude.txt"
    - "--ipset-exclude=hostlists/ipset-exclude.txt"
    - "--dpi-desync=fake"
    - "--dpi-desync-repeats=6"
    - "--dpi-desync-fake-quic=binaries/quic_initial_www_google_com.bin"
    - "--new"
    # Discord voice/STUN с filter-l7
    - "--filter-udp=19294-19344,50000-50100"
    - "--filter-l7=discord,stun"
    - "--dpi-desync=fake"
    - "--dpi-desync-fake-discord=binaries/quic_initial_www_google_com.bin"
    - "--dpi-desync-fake-stun=binaries/quic_initial_www_google_com.bin"
    - "--dpi-desync-repeats=6"
    - "--new"
    # Discord media CDN с hostfakesplit
    - "--filter-tcp=2053,2083,2087,2096,8443"
    - "--hostlist-domains=discord.media"
    - "--dpi-desync=fake,hostfakesplit"
    - "--dpi-desync-fake-tls-mod=rnd,dupsid,sni=ya.ru"
    - "--dpi-desync-hostfakesplit-mod=host=ya.ru,altorder=1"
    - "--dpi-desync-fooling=ts"
    - "--new"
    # Google/YouTube с hostfakesplit и sni=www.google.com
    - "--filter-tcp=443"
    - "--hostlist=hostlists/google.txt"
    - "--ip-id=zero"
    - "--dpi-desync=fake,hostfakesplit"
    - "--dpi-desync-fake-tls-mod=rnd,dupsid,sni=www.google.com"
    - "--dpi-desync-hostfakesplit-mod=host=www.google.com,altorder=1"
    - "--dpi-desync-fooling=ts"
    - "--new"
    # TCP hostfakesplit для общего списка
    - "--filter-tcp=80,443"
    - "--hostlist=hostlists/general.txt"
    - "--hostlist-exclude=hostlists/exclude.txt"
    - "--ipset-exclude=hostlists/ipset-exclude.txt"
    - "--dpi-desync=fake,hostfakesplit"
    - "--dpi-desync-fake-tls-mod=rnd,dupsid,sni=ya.ru"
    - "--dpi-desync-hostfakesplit-mod=host=ya.ru,altorder=1"
    - "--dpi-desync-fooling=ts"
    - "--new"
    # QUIC для ipset
    - "--filter-udp=443"
    - "--ipset=hostlists/ipset-all.txt"
    - "--hostlist-exclude=hostlists/exclude.txt"
    - "--ipset-exclude=hostlists/ipset-exclude.txt"
    - "--dpi-desync=fake"
    - "--dpi-desync-repeats=6"
    - "--dpi-desync-fake-quic=binaries/quic_initial_www_google_com.bin"
    - "--new"
    # TCP для ipset с hostfakesplit
    - "--filter-tcp=80,443"
    - "--ipset=hostlists/ipset-all.txt"
    - "--hostlist-exclude=hostlists/exclude.txt"
    - "--ipset-exclude=hostlists/ipset-exclude.txt"
    - "--dpi-desync=fake,hostfakesplit"
    - "--dpi-desync-fake-tls-mod=rnd,dupsid,sni=ya.ru"
    - "--dpi-desync-hostfakesplit-mod=host=ya.ru,altorder=1"
    - "--dpi-desync-fooling=ts"
  env: {}
  requires_admin: true

requirements:
  min_rights: "admin"
  os:
    - windows
  binaries:
    - "binaries/winws.exe"
    - "binaries/WinDivert64.sys"
    - "binaries/quic_initial_www_google_com.bin"

weight_hint: 7
services:
  - discord
  - youtube
  - general
