# General ALT9 Strategy
# Использует hostfakesplit с ozon.ru как fake host
id: "zapret_general_alt9"
name: "General ALT9 (hostfakesplit ozon.ru)"
description: "Стратегия с hostfakesplit, использует ozon.ru как fake host для обмана DPI."
family: sni_frag
engine: zapret
label: alternative

mode_capabilities:
  supports_socks: false
  supports_global: true

global_template:
  binary: "binaries/winws.exe"
  args:
    # WinDivert фильтры
    - "--wf-tcp=80,443,2053,2083,2087,2096,8443"
    - "--wf-udp=443,19294-19344,50000-50100"
    # QUIC fake для общего списка
    - "--filter-udp=443"
    - "--hostlist=hostlists/general.txt"
    - "--hostlist-exclude=hostlists/exclude.txt"
    - "--ipset-exclude=hostlists/ipset-exclude.txt"
    - "--dpi-desync=fake"
    - "--dpi-desync-repeats=6"
    - "--dpi-desync-fake-quic=binaries/quic_initial_www_google_com.bin"
    - "--new"
    # Discord voice/STUN с filter-l7
    - "--filter-udp=19294-19344,50000-50100"
    - "--filter-l7=discord,stun"
    - "--dpi-desync=fake"
    - "--dpi-desync-fake-discord=binaries/quic_initial_www_google_com.bin"
    - "--dpi-desync-fake-stun=binaries/quic_initial_www_google_com.bin"
    - "--dpi-desync-repeats=6"
    - "--new"
    # Discord media CDN с hostfakesplit
    - "--filter-tcp=2053,2083,2087,2096,8443"
    - "--hostlist-domains=discord.media"
    - "--dpi-desync=hostfakesplit"
    - "--dpi-desync-hostfakesplit-mod=host=ozon.ru"
    - "--new"
    # Google/YouTube с hostfakesplit
    - "--filter-tcp=443"
    - "--hostlist=hostlists/google.txt"
    - "--ip-id=zero"
    - "--dpi-desync=hostfakesplit"
    - "--dpi-desync-hostfakesplit-mod=host=ozon.ru"
    - "--new"
    # TCP hostfakesplit для общего списка
    - "--filter-tcp=80,443"
    - "--hostlist=hostlists/general.txt"
    - "--hostlist-exclude=hostlists/exclude.txt"
    - "--ipset-exclude=hostlists/ipset-exclude.txt"
    - "--dpi-desync=hostfakesplit"
    - "--dpi-desync-hostfakesplit-mod=host=ozon.ru"
    - "--new"
    # QUIC для ipset
    - "--filter-udp=443"
    - "--ipset=hostlists/ipset-all.txt"
    - "--hostlist-exclude=hostlists/exclude.txt"
    - "--ipset-exclude=hostlists/ipset-exclude.txt"
    - "--dpi-desync=fake"
    - "--dpi-desync-repeats=6"
    - "--dpi-desync-fake-quic=binaries/quic_initial_www_google_com.bin"
    - "--new"
    # TCP для ipset с hostfakesplit
    - "--filter-tcp=80,443"
    - "--ipset=hostlists/ipset-all.txt"
    - "--hostlist-exclude=hostlists/exclude.txt"
    - "--ipset-exclude=hostlists/ipset-exclude.txt"
    - "--dpi-desync=hostfakesplit"
    - "--dpi-desync-hostfakesplit-mod=host=ozon.ru"
  env: {}
  requires_admin: true

requirements:
  min_rights: "admin"
  os:
    - windows
  binaries:
    - "binaries/winws.exe"
    - "binaries/WinDivert64.sys"
    - "binaries/quic_initial_www_google_com.bin"

weight_hint: 5
services:
  - discord
  - youtube
  - general
